@charset "UTF-8";
@import "bourbon/bourbon";
@import "neat/neat";

$borderBoxRad: 5px;
$greyishBlack: #707070;
$menuColor: #333;

@mixin bgShade{
    background: #ddd;
}

.bgWhite{background: #fff}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
*{
    margin:0;
    padding: 0;
    font-family: arial;
    font-size: 13px;
}
html,body{
    background:#f1f1f1;
}
button:focus, button{border:0;outline:0;cursor:pointer}
input{padding:0 5px;}
.clearfix{clear:both}
a{text-decoration: none; color:#33A1DE;cursor: pointer}
ul{list-style-type: none}

.table{
    display: table;
    .row{
        display: table-row;
    }
    .cell{
        display: table-cell
    }
    .theader{
        display: table-cell;
        font-weight: bold;
    }
}
.iconSpace{width:15px;text-align: center;display: inline-block}
/* Header */


header{
    background: #fff;
    .logo{
        float:left;
        width: 120px;
        height: 50px;
        background: url('../images/logo.jpg') no-repeat center;
        background-size: 80% 80%;
        border-right: 1px solid #aaa;
    }
    .searchBox{
        float:left;
        width:500px;
        padding: 10px;
        margin:1px 5px;
        .searchInput{
            margin-left: 100px;
            margin-right: 10px;
            border:1px solid #ccc;
            display: inline-block;
            position: relative;
            border-radius: 5px;
            input{
                width: 175px;
                height: 25px;
                display: inline-block;
                border:0;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                &:focus{
                    border:0;
                    outline:0;
                }
            }
            
            .searchIcon{
                position: absolute;
                right: -5px;
                top:-1px;
                background: $menuColor;
                width:25px;
                color:#fff;
                padding:6px;
                height:27px;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
    }
    .userProfile{
        float: right;
        margin:10px;
        
        .cell{
            &.profilePic{
                width:30px;
                height:30px;
                border-radius: 50%;
                border:1px solid #aaa;
                background: url('../images/user.png') no-repeat center;
                background-size: 80% 80%;
            }
            &.profileDetails{
                font-size: 11px;
                padding-left:5px;
                .username{font-weight: bold}
            }
        }
    }
}

nav{
    background: $menuColor;
    ul.menu{
        float:left;
        li{
            display: inline-block;
            a, a:link, a:visited, a:hover{color:#fff;}
            color:#fff;
            padding:10px;
            position: relative;
            border-right:1px solid #000;
            cursor: pointer;
            span.iconSpace{
                width:15px;
                font-size: 16px;
                display: inline-block
            }
            &:hover .submenu{
                display: block;
            }
        }
    }
    ul.clipboard{
        float:right;
        margin: 8px;
        background: #aaa;
        border-radius: 15px;
        li{
            display: inline-block;
            color:#fff;
            padding:2px 10px;
            border-right:1px solid #000;
            font-size: 11px;
            &:last-child{border:0}
            span.iconSpace{
                width:20px;
                font-size: 16px;
                display: inline-block
            }
        }
    }
    ul.submenu{
        position: absolute;
        z-index: 999;
        left:5px;
        top:38px;
        width:150px;
        display: none;
        background: $menuColor;
        li{
            border: 0;
            display: block;
            border-bottom: 1px solid #aaa;
        }
    }
}

div.wrapper{
    width:100%;
    .column2{
        width: 18%;
        float:left;
        margin:1% 0 0 1%;
    }
    .column8{
        width: 60%;
        float:left;
        margin:1% 0 0 1%;
    }
    .column12{
        width:98%;
        margin:1% 0 0 1%;
    }
   
    ul{
        &.box{
            border-radius: $borderBoxRad;
            border: 1px solid #ccc;
            .icon-cabinet{
                color:orange;
            }
        }
        li{
            &.padded{
                .active{
                    color:#33A1DE;
                }
                font-weight: 400;
                padding: 8px 5px;
                color: $greyishBlack;
                border: 0;
                border-bottom: 1px solid #ccc;
                &:last-child{
                    border: 0;
                    border-bottom-left-radius: $borderBoxRad;
                    border-bottom-right-radius: $borderBoxRad;
                }
                .cell{
                    vertical-align: middle
                }
                .iconSpace{
                    width: 25px;
                }
                .description{
                    .name{
                        font:{size: 11px;weight:bold;}
                    }
                    .timestamp{
                        font-size: 9px;
                        margin-top: 2px;
                    }
                }
            }
            &.doc{background: #fff}
            
        }
    }
    .gridBox{
        border: 1px solid #ccc;
        border-radius: $borderBoxRad;
        .gridBoxContent{
            min-height:50px;
            .innerColumn3Equal{
                width:31.3%;
                float:left;
                margin: 1%;
               
            }
            &.searchContent{
                padding:10px;
                .cell{
                    width: 25%;
                    vertical-align: middle;
                    text-align: center;
                    padding:5px;
                    label{
                        font:{weight:bold;size:11px;}
                        display: block;
                        margin-bottom: 5px;
                    }
                    input, button,select{
                        border:1px solid #ccc;
                        height: 24px;
                        display: inline-block;
                    }
                    button{
                        background: $menuColor;
                        color:#fff;
                        border: 0;
                        border-radius: 5px;
                        padding:0 10px;
                        cursor: pointer;
                    }
                }
            }
            .checkInContent{
                padding:10px;
                .table{
                    width:100%;
                    border-bottom: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    .row{
                        &:nth-child(odd){
                            @include bgShade; 
                        }
                        .cell, .theader{
                            padding:5px;
                            border: 1px solid #ccc;
                            border-bottom: 0;
                            border-right: 0;
                            &:last-child{
                                width:100px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
     .headers{
        font-weight: bold;
        @include bgShade;
        border-top-left-radius: $borderBoxRad;
        border-top-right-radius: $borderBoxRad;
        padding: 8px 5px;
        position: relative;
        .searchBox{
            position: absolute;
            right: 5px;
            top:6px;
            input{
                width:80px;
            }
        }
         .headerBtn{
             position: absolute;
             right:5px;
             top:5px;
         }
    }
    .viewer{
        border:1px solid #ccc;
        border-radius: $borderBoxRad;
        min-height: 400px;
    }
    
}

#advanceSearchBox, #clipboard{
    display: none;
    &.active{
        display: block;
    }
}

.orangeBtn{
    background: orange;
    border: 0;
    border-radius: 5px;
    padding:2px 10px;
}

.overviewSec{
    &.table{width:100%;
        .row{
            .cell{padding:10px; border-bottom: 1px solid #ccc;
                &:last-child{width:50px;text-align: right}
            }
            &:last-child{
                .cell{border:0}
            }
        }
    }
}

.squareBox{
    background: #fff;
    width:100%;
    padding:5px;
    min-height:50px;
    margin-top:10px;
    position: relative;
    .navicon {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

.tabHeading{
    display: table;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor:pointer;
    width:100%;
    .icon{width:60px;background: #539DC2;height: 60px;border-radius: 5px;vertical-align: middle;text-align: center;
    &.hola{
        background: #539DC2 url('../images/Hello.png') center no-repeat;
        background-size:70% 60%;
    }
    i{font-size:24px;color:#ddd}
    }
    .title{vertical-align: middle;color:#33A1DE;font-size: 18px;padding:5px;}
}